[run]
# measure branch coverage
branch = True
# don't measure python standard library (this should be the default)
cover_pylib = False

# Ignore files that are not relevant to coverage
omit =
    # system libraries
    /usr/*
    /usr/local/*
    .local/*
    # virtual environment
    env/*
    # django's script
    manage.py
    # django's configuration file
    mysite/*
    */__init__.py
    # django's migration files
    */migrations/*

# explicitly include the main app
include =
    polls/*

# Exclude specific lines from the coverage report
[report]
exclude_lines =
    def __str__
    def __repr__
