<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KU Polls</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="ku-polls">KU Polls</h1>

        {% if messages %}
        <ul class="error_messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="polls-list">

            {% if latest_question_list %}
                {% for question in latest_question_list %}
                <div class="card">
                    <h2 class="card-title">{{ question.question_text }}</h2>
                    <p>Status: {{ question.can_vote|yesno:"Open ✅,Closed ❌" }}</p>
                    <div class="card-actions">
                        <a href="{% url 'polls:detail' question.id %}" class="view-button">Vote</a>
                        <a href="{% url 'polls:results' question.id %}" class="view-button">View Results</a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p class="no-polls">No polls are available.</p>
            {% endif %}

        </div>
    </div>
</body>
</html>