{% extends 'polls/base.html' %}
{% block title %}KU Poll{% endblock %}

{% block extra_head %}
    <style>
        .success {
            padding: 10px;
            background: green;
            color: white;
            display: inline-block; /* Makes the box fit the content width */
            border-radius: 3px;
            width: 30%;
            text-align: center;
        }
        .error {
            padding: 10px;
            background: darkred;
            color: white;
            display: inline-block; /* Makes the box fit the content width */
            border-radius: 3px;
            width: 30%;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="polls-list">
        {% if latest_question_list %}
            {% for question in latest_question_list %}
                <div class="card">
                    <h2 class="card-title">{{ question.question_text }}</h2>
                    <p>Status: {{ question.can_vote|yesno:"Open ✅,Closed ❌" }}</p>
                    <div class="card-actions">
                        <a href="{% url 'polls:detail' question.id %}" class="view-button">Vote</a>
                        <a href="{% url 'polls:results' question.id %}" class="view-button">View Results</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="no-polls">No polls are available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}